<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta camionero</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <!--<h1>EEP CONSULTIN</h1>
    <a href="/alta">Alta Camioner@s</a>
    <a href="/baja">Baja Camioner@s</a>
    <a href="/modificacion">Modificacion de Camioner@s</a>
    <a href="/lista">Listado de Camioner@s</a>
    <a href="/registro">Registro de operaciones</a>-->
    <header>
    	<div class="container">
    		<div class="row">
    			<div class="col-12">
    				<ul class="nav bg-dark">
						<li class="nav-item"><a href="#" class="nav-link active">Inicio</a></li>
						<li class="nav-item"><a href="/alta" class="nav-link">Alta</a></li>
						<li class="nav-item"><a href="/baja" class="nav-link">Baja</a></li>
						<li class="nav-item"><a href="/modificacion" class="nav-link">Modificacion</a></li>
						<li class="nav-item"><a href="/lista" class="nav-link">lista</a></li>
						<li class="nav-item"><a href="/registro" class="nav-link">registro</a></li>
					</ul>
    			</div>
    			<div class="col">
    				<p>
    			</div>
    		</div>
    	</div>
    </header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>