<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<h1 style="text-align: center">Camionero modificado</h1>
	<span th:text="${camionero.id}"></span>
	<p>Nombre: <span th:text="${camionero.nombre}"></span></p>
	<p>Apellidos: <span th:text="${camionero.apellidos}"></span></p>
	<p>Correo Electronico: <span th:text="${camionero.correo}"></span></p>
	<p>Numero telefono: <span th:text="${camionero.telefono}"></span></p>
	<p>fecha de nacimiento: <span th:text="${camionero.fecha}"></span></p>
	<p>genero: <span th:text="${camionero.genero}"></span></p>
	<p>transporte: <span th:text="${camionero.transporte}"></span></p>
	<p>contrato: <span th:text="${camionero.contrato}"></span></p>
	<p>comentario: <span th:text="${camionero.comentario}"></span></p>
</body>
</html>