<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<table>
        <thead>
        <tr>
            <th>Hora</th>
            <th>Operacion</th>
            <th>Error</th>
        </tr>
        </thead>
        <tr th:each="i : ${registro}">
            <td><span th:text="*{i.fechaYHora}"></span></td>
            <td><span th:text="*{i.operacion}"></span></td>
            <td><span th:text="*{i.descripcion}"></span></td>
        </tr>
    </table>
</body>
</html>